<nav class="navbar navbar-expand-sm navbar-liht bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/app-recetas" style="color:white;">Recetas App</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId"></div>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav item active">
        <a class="nav-link" href="/about-us" style="color:white;" >Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/informacion" style="color:white;">Link</a>
      </li>
    </ul>
    <div class="d-flex">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Recetas</button>
    </div>
  </div>
</nav>
<app-recetas></app-recetas>
<router-outlet></router-outlet>